<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222415830271-3uu4421e1vjd895v1dcj12nbsse5rhar.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222415830271-3uu4421e1vjd895v1dcj12nbsse5rhar</string>
	<key>API_KEY</key>
	<string>AIzaSyC8nVTRWPNVc3lkUZBmHlgRfyXx4fx6mAo</string>
	<key>GCM_SENDER_ID</key>
	<string>222415830271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.takeABite</string>
	<key>PROJECT_ID</key>
	<string>take-a-bite-10236</string>
	<key>STORAGE_BUCKET</key>
	<string>take-a-bite-10236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222415830271:ios:7b0dbb754047f4278420ca</string>
</dict>
</plist>